# Gitの追跡対象から外すファイルやディレクトリを記述します
# 秘密情報ファイル
src/ros2_firebase_bridge/config/serviceAccountKey.json
# ROS2ビルドファイル
build/
install/
log/

# Python関連
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/

# エディタ関連
.vscode/
.idea/
*.swp
*.swo
*~

# OS関連
.DS_Store
Thumbs.db
